<div *ngIf="selectedHealthCheckDetail && selectedHealthCheckDetail.statusHistory">
    <h2>Details</h2>
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th *ngFor="let eachDate of selectedHealthCheckDetail.statusHistory">{{eachDate.date}}</th>
        </tr>
        <tr>
            <td>{{selectedHealthCheckDetail.name}}</td>
            <td>{{selectedHealthCheckDetail.uri}}</td>
            <td *ngFor="let eachDate of selectedHealthCheckDetail.statusHistory"><img [src]="eachDate.icon" height="25px"> {{eachDate.averageResponseTimeMS}}ms</td>
        </tr>
    </table>
</div>


<div *ngIf="healthCheckDetail">
    {{healthCheckDetail}}
</div>
